<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="content">
                        <form [formGroup]="fundsTransferForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-6">                                    
                                    <div class="form-group">
                                        <label for="fromAccount">From Account</label>
                                        <input type="text"
                                               class="form-control" 
                                               placeholder="Enter from account number"
                                               formControlName="fromAccount" 
                                               [ngClass]="{ 'is-invalid': submitted && fundsTransferForm.controls.fromAccount.errors }"/>
                                        <div *ngIf="submitted && fundsTransferForm.controls.fromAccount.errors" class="invalid-feedback">
                                            <div style="color: darkorange;" *ngIf="fundsTransferForm.controls.fromAccount.errors.required">From account is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button [routerLink]="['/beneficiary']" class="btn btn-info btn-fill pull-right">Add Beneficiary</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="toAccount">To Account</label>
                                        <input type="text"
                                               class="form-control" 
                                               placeholder="Enter to account number"
                                               formControlName="toAccount"
                                               [ngClass]="{ 'is-invalid': submitted && fundsTransferForm.controls.toAccount.errors }"/>
                                        <div *ngIf="submitted && fundsTransferForm.controls.toAccount.errors" class="invalid-feedback">
                                            <div style="color: darkorange;" *ngIf="fundsTransferForm.controls.toAccount.errors.required">To account is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="amount">Amount</label>
                                        <input type="text"
                                               class="form-control" 
                                               placeholder="Enter amount"
                                               formControlName="amount"
                                               [ngClass]="{ 'is-invalid': submitted && fundsTransferForm.controls.amount.errors }"/>
                                        <div *ngIf="submitted && fundsTransferForm.controls.amount.errors" class="invalid-feedback">
                                            <div style="color: darkorange;" *ngIf="fundsTransferForm.controls.amount.errors.required">Amount is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-info btn-fill">Submit</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-danger btn-fill pull-right" (click)="onCancel()">Cancel</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                
            </div>
        </div>
    </div>
</div>
