.container{
    width:100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-right:auto;
    margin-left:auto;
}
.row {
    flex-wrap: wrap;
    margin-right: -.75rem;
    margin-left: -.75rem;
}
.justify-content-center{
    justify-content:center!important;
}
.shadow-lg{
    box-shadow:0 1rem 3rem rgba(0,0,0,.175)!important;
}
.mt-5 {
    margin-top: 3rem!important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
    width: 100%;
    margin: 0 auto;
}
.card-body{
    flex:1 1 auto;
    padding:0;
    height: 450px;
}
.card-body .row {
    padding: 0 7px;       
}
.bg-login-image{
    /* background:url(https://www.citadelbanking.com/-/media/images/testimonial-images/testimonial-man-avatar-icon.jpg?h=650&w=650&la=en&hash=76923D6DFB7D5D54861A9C5EDC77B85F7C3CC0EC); */
    background: url(https://img.etimg.com/thumb/msid-55115404,width-640,resizemode-4,imgsize-75069/8-tips-to-sidestep-the-mines-in-internet-banking.jpg);
    background-position:right;
    background-size:cover;
    height: 450px;
}
.p-5 {
    padding: 3rem!important;
}
.text-gray-900 {
    color: #3a3b45!important;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.bold {
    font-weight: bold;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
form.user .form-control-user{
    font-size: 14px;
    border-radius: 10rem;
    padding: 25px 15px;
}
form.user .btn-user {
    font-size: 14px;
    border-radius: 10rem;
    padding: 15px 0;
}
.btn-block {
    display: block;
    width: 100%;
}
.small{
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
}
a {
    color: #4e73df;
    text-decoration: none;
    background-color: transparent;
}
.btn-primary {
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
}
.btn-primary:hover {
    color: #fff;
    background-color: #2e59d9;
    border-color: #2653d4;
}
::-webkit-input-placeholder { /* Edge */
    color: #999999;
}

:-ms-input-placeholder { /* Internet Explorer */
    color: #999999;
}

::placeholder {
    color: #999999;
}
@media (min-width:320px){
    .card {
        width: 100%;
    }
    .bg-login-image {
        display: none;
    }
}
@media (min-width:576px){
    .container{max-width:540px}
}
@media (min-width:768px){
    .container{max-width:720px}
}
@media (min-width:992px){
    .container{max-width:960px}
}
@media (min-width:1200px){
    .container{max-width:1140px}
    .card {
        width: 80%;
    }
    .bg-login-image {
        display: block;
    }
}



